
<!-- TODO(Thomas): Figure out how to add class "newday" if repetition is a new day.
                   Limit repetition of events to xx? -->
<div ng-repeat="event in events | limitTo : limit" class="event" vocab="http://schema.org/" typeof="Event">
	<div class="date" property="startDate" content="{{event.field_date}}">
	  <!-- TODO(Thomas): All of the social date components. -->
	  <div class="day">{{event.field_date_1}}</div>
	  <div class="month">{{event.field_date_2}}</div>
	  <div class="dayofmonth">{{event.field_date_3}}</div>
	</div>
	<div class="description">
	  <h3 property="name"><a ng-click="showDetails = ! showDetails" property="url">{{event.title}}</a></h3>
	  <h4 property="location"  typeof="Place">{{event.field_location}}</h4>
	  <span class="additional">
	  	<span class="time">{{event.field_date_4}}</span> \ 
	    <span class="cost" property="price">{{ event.field_cost }}</span>
		<span class="cost" ng-show="event.field_free_event">Free</span>
	  </span>

	  <!-- TODO(Thomas): Update to sanitize body, then add show/hide. Add RSVP links, etc.
	  https://docs.angularjs.org/api/ngSanitize/service/$sanitize -->
	  <div class="description" ng-show="showDetails">{{event.field_event_details}}</div>
	  <div class="description" ng-show="showDetails"><a href="{{event.field_rsvp_link}}">RSVP</a></div>
	</div>
	<!-- TODO(Thomas): All of the social links. -->
	<div class="social">
	  <!-- TODO(Thomas): Fix calendar link -->
	  <div><a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text={{event.title}}&amp;dates={{event.field_date}}&amp;details=&amp;location={{event.field_location}}&amp;trp=true&amp;sprop=&amp;sprop=name:nycwhisky.com" target="_blank" class="calendar" title="Save to calendar">Save to calendar</a></div>
	  <div><a href="https://twitter.com/share?url=http://nycwhisky.com&amp;text={{event.title}}+on+{{event.field_date_1}}+{{event.field_date_2}}+{{event.field_date_3}}&amp;via=nycwhisky" target="_blank" class="twitter" title="Share on Twitter">Share on Twitter</a></div>
	  <div><a href="https://www.facebook.com/sharer/sharer.php?u=http://nycwhisky.com" target="_blank" class="facebook" title="Share on Facebook">Share on Facebook</a></div>
	</div>
</div>

<!-- TODO: Change limit to a higher value. -->
<div><a ng-click="limit = limit + 2" ng-init="limit=2" ng-hide="limit >= events.length" id="load-more-events">LOAD MORE EVENTS</a></div>