
<!-- TODO(Thomas): Figure out how to add class "newday" if repetition is a new day.
                   Limit repetition of events to xx? -->
<div ng-repeat="event in events.events | limitTo : limit" class="event" vocab="http://schema.org/" typeof="Event">
	<div class="date" property="startDate" content="{{event.event.fulldate}}">
	  <!-- TODO(Thomas): All of the social date components. -->
	  <div class="day">{{event.event.day}}</div>
	  <div class="month">{{event.event.month}}</div>
	  <div class="dayofmonth">{{event.event.dayofmonth}}</div>
	</div>
	<div class="description">
	  <h3 property="name"><a ng-click="toggle(!event.open)" property="url" ng-bind-html="event.event.title"></a></h3>
	  <h4 property="location"  typeof="Place" ng-bind-html="event.event.location"></h4>
	  <span class="additional">
	  	<span class="time">{{event.event.time}}</span> \ 
	    <span class="cost" property="price">{{ event.event.cost }}</span>
		<span class="cost" ng-hide="event.event.cost">Free</span>
	  </span>

	  <!-- TODO(Thomas): Update to sanitize body, then add show/hide. Add RSVP links, etc.
	  https://docs.angularjs.org/api/ngSanitize/service/$sanitize -->

	  <div class="description street" ng-show="event.open && event.event.street">{{event.event.street}}</div>
	  <div class="description" ng-show="event.open && event.event.city">{{event.event.city}}</div>
	  <div class="description" ng-show="event.open && event.event.location"><a href="https://maps.google.com/maps?q=directions+from+me+to+{{event.event.location}}" target="_blank">Directions</a></div>
	  <div class="description" ng-show="event.open && event.event.website"><a href="{{event.event.website}}">Website</a></div>
	  <div class="description" ng-show="event.open && event.event.phone">{{event.event.phone}}</div>
	  
	</div>
	<!-- TODO(Thomas): All of the social links. -->
	<div class="social">
	  <!-- TODO(Thomas): Fix calendar link -->
	  <div><a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text={{event.event.title}}&amp;dates={{event.event.fulldate}}&amp;details={{event.event.details}}&amp;location={{event.event.location}}&amp;trp=true&amp;sprop=&amp;sprop=name:nycwhisky.com" target="_blank" class="calendar" title="Save to calendar">Save to calendar</a></div>
	  <div><a href="https://twitter.com/share?url=http://nycwhisky.com&amp;text={{event.event.title}}+on+{{event.event.day}}+{{event.event.dayofmonth}}+{{event.event.month}}&amp;via=nycwhisky" target="_blank" class="twitter" title="Share on Twitter">Share on Twitter</a></div>
	  <div><a href="https://www.facebook.com/sharer/sharer.php?u=http://nycwhisky.com" target="_blank" class="facebook" title="Share on Facebook">Share on Facebook</a></div>
	</div>
	<div class="eventexpanded" ng-show="event.open">
	  <div ng-show="event.open" ng-bind-html="event.event.details"></div>
	  <div ng-show="event.open && event.event.rsvp">RSVP: {{event.event.rsvp}}</a></div>
	  <div ng-show="event.open && event.event.image"><img ng-src={{event.event.image}} width="100%"></div>
	</div>
</div>

<!-- TODO: Change limit to a higher value. -->
<div><a ng-click="limit = limit + 4" ng-init="limit=10" ng-hide="limit >= events.length" id="load-more-events">LOAD MORE EVENTS</a></div>